<h4>Resume in JSON format</h4>
<p>TODO: Your resume/CV in JSON format and a parser for the resume so it can be displayed<br>
  visit: <%= link_to resumes_url, resumes_path %></p>

<h4>tic-tac-toe in ruby</h4>
<p>TODO: Write a tic-tac-toe app that never loses on a 3x3 board<br>
  run in terminal: <code>ruby lib/tictactoe.rb</code> by cloning: <code>https://github.com/nurulazradm/swd-app/tree/tictactoe</code></p>

<h4>URL Shortener</h4>
<p>TODO: Write a URL shortener app<br>
  visit: <%= link_to shorteners_url, shorteners_path %></p>
